name: Ansible Actions

on: 
  push:
    branches:
      - "main"

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
          packages: write
          contents: read
          id-token: write
          
        steps:
          - run: echo "GitHub Actions Ansible"

          - name: Checkout
            uses: actions/checkout@v3
          
          - name: AWS Authentication
            uses: aws-actions/configure-aws-credentials@v1
            with:
              role-to-assume: arn:aws:iam::254964228601:role/elk1-github-oidc
              aws-region: us-east-1
              role-session-name: GitHubActions

          - name: Perform ansible playbook to deploy
            uses: dawidd6/action-ansible-playbook@v2
            with:
              playbook: ./ansible/main-playbook.yml